
*{
  margin: 0px;
  padding: 0px
}

.main-container *{
  text-decoration: none;
  font-size: 24px;
  color : white;
  margin : 10px;
  padding : 10px;
}
.select {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  border: 2px solid rgb(62, 99, 99);
  align-items: center;
  justify-content: space-around;
}
.disp-info{
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(62, 99, 99);
  text-align: center;
  justify-content: space-around;
}

select{  
  color:white;
  width:90%;
  background-color:  rgba(0, 0, 0, 0.877);
}